.perspective-origin,
.transform-layer,
.card-face {
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  width: 0;
}
.perspective-origin {
  perspective: 1000px;
}
.transform-layer {
  /*transition: transform .05s;*/
}
.card-face {
  height: 100%;
  width: 100%;
}
